// base styling

@corporateBlue: #00a9ce;
@corporatePurple: #c724b1;

@primary_font: 'Gotham Book', Verdana, Arial;
@primary_heading_font: 'Gotham Bold', Verdana, Arial;
@primary_bg: #FFF;

@primary_font_size:16px;
@primary_font_color:#333333;
@pimary_highlighted_color:#00a9ce;

@primary_link_color:#00a9ce;


@secondary_heading_font: 'Gotham Medium', Verdana, Arial;


// header styling


// footer styling


