/*
  Name: Mohammad Atif

*/

body{
  font-family: @primary_font;
}

h1, h2, h3, h4, h5, h6{

  //will change basefont for all headings
  font-family: @primary_heading_font;
  font-weight: normal;
  margin:0;
}

.corporateBlue{color:@corporateBlue !important;}
.corporatePurple{color:@corporatePurple !important;}


