<!-- css from imported libraries -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/animate.css/animate.min.css">

<!-- custom css -->
<link rel="stylesheet" href="icons/style.css">
<link rel="stylesheet" href="css/main.css">