<section class="dataPlans">
    <div class="dataPlansWrapper">
        <div class="planNotice">
            <p>One time charge of <strong>AED 125</strong> for new activation</p>
        </div>
        <div class="planOffers">
            <div class="row">
                <div class="col-md-4 offer-item light">
                    <!-- Start of Data Plan Card -->
                    <div class="offerCard offer-150" >
                        <div class="pTag">
                        </div>
                        <div class="offerCardHeader">
                            <h4>
                                You Pay
                            </h4>
                            <div class="monthlyOffer">
                                            <span class="smallUnit currency">
                                                AED
                                            </span>
                                150
                                            <span class="smallUnit adjustUnit recurrence">
                                                /month
                                            </span>
                            </div>
                        </div>
                        <div class="offerCardContent">
                            <div class="offerContentHeader">
                                <h4>You Get Smart Plan 150</h4>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    3 <span class="smallUnit adjustUnit unit">GB</span>
                                </h5>
                                <div class="planDescription">
                                    National Data
                                </div>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    300
                                </h5>
                                <div class="planDescription">
                                    Flexible Min.
                                </div>
                            </div>
                            <div class="secondaryOptions">
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>No</h5>
                                    </div>
                                    <div class="optionContent">
                                        <p>Contract</p>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>-</h5>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>-</h5>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>-</h5>
                                    </div>
                                </div>
                                <div class="additionalGiveaway">
                                    <div class="giveawayWrapper">
                                        <img src="images/additional_giveaway.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="btnWrapper">
                                <a href="#" class="btn btn-corp-blue">Important Info</a>
                                <a href="#" class="btn btn-corp-purple">Buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Data Plan Card -->
                </div>
                <div class="col-md-4 offer-item medium">
                    <!-- Start of Data Plan Card -->
                    <div class="offerCard offer-300">
                        <div class="pTag">
                            <div class="offerTag popular">
                                <p><i class="icon-star"></i> Popular</p>
                            </div>
                        </div>
                        <div class="offerCardHeader">
                            <h4>
                                You Pay
                            </h4>
                            <div class="monthlyOffer">
                                            <span class="smallUnit currency">
                                                AED
                                            </span>
                                300
                                            <span class="smallUnit adjustUnit recurrence">
                                                /month
                                            </span>
                            </div>
                        </div>
                        <div class="offerCardContent">
                            <div class="offerContentHeader">
                                <h4>You Get Smart Plan 300</h4>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    12 <span class="smallUnit adjustUnit unit">GB</span>
                                </h5>
                                <div class="planDescription">
                                    National Data
                                </div>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    600
                                </h5>
                                <div class="planDescription">
                                    Flexible Min.
                                </div>
                            </div>
                            <div class="secondaryOptions">
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>12</h5>
                                    </div>
                                    <div class="optionContent">
                                        <p>Month Contract</p>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>300 <strong>Mins</strong></h5>
                                    </div>
                                    <div class="optionContent">
                                        <p>Call <span class="corporateBlue"><strong>1</strong></span> preferred number</p>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>-</h5>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5><strong>Silver</strong> series number</h5>
                                    </div>
                                </div>
                                <div class="additionalGiveaway">
                                    <div class="giveawayWrapper">
                                        <img src="images/additional_giveaway.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="btnWrapper">
                                <a href="#" class="btn btn-corp-blue">Important Info</a>
                                <a href="#" class="btn btn-corp-purple">Buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Data Plan Card -->
                </div>
                <div class="col-md-4 offer-item medium">
                    <!-- Start of Data Plan Card -->
                    <div class="offerCard offer-450">
                        <div class="pTag">

                        </div>
                        <div class="offerCardHeader">
                            <h4>
                                You Pay
                            </h4>
                            <div class="monthlyOffer">
                                            <span class="smallUnit currency">
                                                AED
                                            </span>
                                450
                                            <span class="smallUnit adjustUnit recurrence">
                                                /month
                                            </span>
                            </div>
                        </div>
                        <div class="offerCardContent">
                            <div class="offerContentHeader">
                                <h4>You Get Smart Plan 600</h4>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    18 <span class="smallUnit adjustUnit unit">GB</span>
                                </h5>
                                <div class="planDescription">
                                    National Data
                                </div>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    1200
                                </h5>
                                <div class="planDescription">
                                    Flexible Min.
                                </div>
                            </div>
                            <div class="secondaryOptions">
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>24</h5>
                                    </div>
                                    <div class="optionContent">
                                        <p>Month Contract</p>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>600 <strong>Mins</strong></h5>
                                    </div>
                                    <div class="optionContent">
                                        <p>Call <span class="corporateBlue"><strong>2</strong></span> preferred number</p>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>Free phone</h5>
                                    </div>
                                    <div class="optionContent">
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5><strong>Gold</strong> series number</h5>
                                    </div>
                                </div>
                                <div class="additionalGiveaway">
                                    <div class="giveawayWrapper">
                                        <img src="images/additional_giveaway.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="btnWrapper">
                                <a href="#" class="btn btn-corp-blue">Important Info</a>
                                <a href="#" class="btn btn-corp-purple">Buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Data Plan Card -->
                </div>
                <div class="col-md-4 offer-item medium heavy">
                    <!-- Start of Data Plan Card -->
                    <div class="offerCard offer-1000">
                        <div class="pTag ">
                            <div class="offerTag premium">
                                <p><i class="icon-badge"></i> Premium</p>
                            </div>
                        </div>
                        <div class="offerCardHeader">
                            <h4>
                                You Pay
                            </h4>
                            <div class="monthlyOffer">
                                            <span class="smallUnit currency">
                                                AED
                                            </span>
                                1000
                                            <span class="smallUnit adjustUnit recurrence">
                                                /month
                                            </span>
                            </div>
                        </div>
                        <div class="offerCardContent">
                            <div class="offerContentHeader">
                                <h4>You Get Smart Plan 600</h4>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    12 <span class="smallUnit adjustUnit unit">GB</span>
                                </h5>
                                <div class="planDescription">
                                    National Data
                                </div>
                            </div>
                            <div class="highlightedOption">
                                <h5>
                                    600
                                </h5>
                                <div class="planDescription">
                                    Flexible Min.
                                </div>
                            </div>
                            <div class="secondaryOptions">
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>12</h5>
                                    </div>
                                    <div class="optionContent">
                                        <p>Month Contract</p>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>300 <strong>Mins</strong></h5>
                                    </div>
                                    <div class="optionContent">
                                        <p>Call <span class="corporateBlue"><strong>1</strong></span> preferred number</p>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5>-</h5>
                                    </div>
                                </div>
                                <div class="secondaryOption">
                                    <div class="optionHeading">
                                        <h5><strong>Gold</strong> series number</h5>
                                    </div>
                                </div>
                                <div class="additionalGiveaway">
                                    <div class="giveawayWrapper">
                                        <img src="images/additional_giveaway.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="btnWrapper">
                                <a href="#" class="btn btn-corp-blue">Important Info</a>
                                <a href="#" class="btn btn-corp-purple">Buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Data Plan Card -->
                </div>
            </div>
        </div>
    </div>
</section>