<section class="filterPlanSection">
    <div class="filterPlanWrapper">
        <div class="headlineWrapper">
            <h3>
                <span class="corporatePurple">Know what you pay</span>,
                <span class="corporateBlue">know what you get</span>
            </h3>
        </div>
        <div class="filterMaster">
            <div class="filterWrapper">
                <div class="row">
                    <div class="col-md-6 filter iuFilterContainer">
                        <h4>How much <span class="corporateBlue">internet</span> do you use?</h4>
                        <div class="filterOptions iconOptions">
                            <label class="radio-inline selected">
                                <input type="radio" name="internetUse" id="filterLighUse" value="lightUse" data-filter=".light" checked>
                                <i class="icon-light_use"></i> Light
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="internetUse" id="filterMediumUse" value="mediumUse" data-filter=".medium" >
                                <i class="icon-medium_use"></i> Medium
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="internetUse" id="filterHeavyUse" value="heavyUse" data-filter=".heavy" >
                                <i class="icon-heavy_use"></i> Heavy
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 filter minFilterContainer">
                        <h4>What kind of <span class="corporateBlue">calling minutes</span> would you like in your plan?</h4>
                        <div class="filterOptions iconOptions">
                            <label class="radio-inline selected">
                                <input type="radio" name="minuteUse" id="localMinutes" value="localMinutes" checked>
                                <i class="icon-uae"></i> Only Local
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="minuteUse" id="internationalMinutes" value="internationalMinutes">
                                <i class="icon-international"></i> Local &amp; International
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>