<section class="bannerSection">
    <div class="promotionalBannerWrapper">
        <div class="promotionalBanner">
            <div class="promotionalContentWrapper">
                <div class="promotionalContent">
                    <h3>Postpaid plans</h3>
                    <p>Go data crazy with our new postpaid plans</p>
                </div>
            </div>
        </div>
    </div>
</section>