<!-- @if devBuild -->
<!-- @endif -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="bower_components/isotope/dist/isotope.pkgd.min.js"></script>


<script src="js/main.js"></script>