.breadcrumbWrapper{
  border:1px solid #DDD;

  .breadcrumb {
    margin-bottom:0;
    > li {

      + li:before {
        content: '>';
        font-weight: bold;
        color:#666;
      }
    }
  }
}
