.btn{
  font-size:16px;
  min-width:130px;
  border-radius:0;
}

.btn-corp-blue {
  background-color: #02a6cf;
  border-color: #02a6cf;
  color:#FFF;
  border-bottom:3px solid darken(@corporateBlue, 8%);
}
.btn-corp-blue:hover,
.btn-corp-blue:focus,
.btn-corp-blue:active,
.btn-corp-blue.active {
  background-color: #0292b6;
  border-color: #027d9c;
  color:#FFF;

}
.btn-corp-blue.disabled:hover,
.btn-corp-blue.disabled:focus,
.btn-corp-blue.disabled:active,
.btn-corp-blue.disabled.active,
.btn-corp-blue[disabled]:hover,
.btn-corp-blue[disabled]:focus,
.btn-corp-blue[disabled]:active,
.btn-corp-blue[disabled].active,
fieldset[disabled] .btn-corp-blue:hover,
fieldset[disabled] .btn-corp-blue:focus,
fieldset[disabled] .btn-corp-blue:active,
fieldset[disabled] .btn-corp-blue.active {
  background-color: #02a6cf;
  border-color: #02a6cf;
}


.btn-corp-purple {
  background-color: #c70bac;
  border-color: #c70bac;
  color:#FFF;
  border-bottom:3px solid darken(@corporatePurple, 8%);
}
.btn-corp-purple:hover,
.btn-corp-purple:focus,
.btn-corp-purple:active,
.btn-corp-purple.active {
  background-color: #af0a97;
  border-color: #970882;
  color:#FFF;
}
.btn-corp-purple.disabled:hover,
.btn-corp-purple.disabled:focus,
.btn-corp-purple.disabled:active,
.btn-corp-purple.disabled.active,
.btn-corp-purple[disabled]:hover,
.btn-corp-purple[disabled]:focus,
.btn-corp-purple[disabled]:active,
.btn-corp-purple[disabled].active,
fieldset[disabled] .btn-corp-purple:hover,
fieldset[disabled] .btn-corp-purple:focus,
fieldset[disabled] .btn-corp-purple:active,
fieldset[disabled] .btn-corp-purple.active {
  background-color: #c70bac;
  border-color: #c70bac;
}

