.dataPlans{
  .dataPlansWrapper{
    padding:30px 15px;
    text-align: center;

    .planNotice{
      font-size:18px;
      color:@corporatePurple;
      margin-bottom:15px;

      p{
        margin:0;
      }

      strong{
        font-family: @primary_heading_font;
      }
    }

    .offerCard{

      .pTag{
        height:40px;
        position: relative;
        width:100%;

        .offerTag{
          width:50%;
          position: absolute;
          text-align: center;
          color:#FFF;
          bottom:0;
          left:50%;
          margin-left:-25%;
          padding:4px 10px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          p{
            margin:0;
          }

          &.popular{
            background:#00205b;
          }

          &.premium{
            background:#666;
          }

        }
      }

      span.smallUnit{
        font-family: @primary_font;
        font-size:16px;

        &.adjustUnit{
          margin-left:-10px;
        }

      }


      .offerCardHeader{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border:1px solid @corporatePurple;

        h4{
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          background-color:@corporatePurple;
          padding:12px 0;
          color:#FFF;
          font-size:22px;
        }

        .monthlyOffer{
          color:@corporatePurple;
          font-size:42px;
          font-family: @primary_heading_font;
          padding:8px 0;

        }

      }
      .offerCardContent{
        border:1px solid @corporateBlue;
        padding-bottom:12px;

        h4{
          background-color: @corporateBlue;
          color:#FFF;
          padding:12px 0;
        }

        .planDescription{
          color:#7d7d7d;
          font-size:18px;
        }

        .highlightedOption{
          padding:8px 0;
          color:@corporateBlue;
          border-bottom:1px solid @corporateBlue;

          h5{
            font-size:42px;
          }
        }
        .secondaryOptions{
          margin:0 auto;
          width:80%;

          .secondaryOption{
            border-bottom:1px solid #DDD;
            padding:20px 0;
            height:80px;

            h5{
              font-family: @secondary_heading_font;
              font-weight: normal;
              color:@corporateBlue;
              font-size:18px;

              strong{
                font-family: @primary_heading_font;
                font-weight: normal;
              }

            }
            p{
              margin:0;
              color:#7D7D7D;
              font-size:16px;
            }
          }
        }
        .additionalGiveaway{
          padding:8px;
          margin-bottom:18px;

          img{
            margin:0 auto;
          }
        }

      }
    }

  }


}