.filterPlanSection{

  .filterPlanWrapper{
    border:1px solid #DDD;
    background:#f7f7f7;
    position: relative;

    &:after{
      position: absolute;
      content:'';
      width: 10px;
      height: 10px;
      left:50%;
      margin-left:-10px;
      bottom:-10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #f7f7f7;
    }

    &:before{
      position: absolute;
      content:'';
      width: 12px;
      height: 12px;
      left:50%;
      margin-left:-12px;
      bottom:-12px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #DDD;
    }
  }

  .headlineWrapper{
    border-bottom:1px solid #DDD;
    padding:20px 15px;
    text-align: center;
    color:#777;

    h3{
      font-weight: normal;
    }
  }

  .filterWrapper{
    padding:20px 15px;
    text-align: center;

    h4{
      font-weight: normal;
      font-size:16px;
      font-family: @primary_font;
    }

    .filter{
      min-height:40px;

      @media (max-width: 991px) {
        margin-bottom:20px;
      }
    }

    .iuFilterContainer{
      border-right:1px solid #CCC;

      @media (max-width: 991px) {
        border-right:none;
      }
    }

    .filterOptions{
      display:inline-block;
      border-bottom:3px solid #DDD;
      color:#777;
      font-weight: bold;
      font-family: @secondary_heading_font;
      padding:10px 0 5px;


      &.iconOptions{
        font-size:18px;

        @media (max-width: 991px) {
          font-size:16px;
        }

        input[type=radio], input[type=checkbox]{
          display:none;
        }

        .checkbox-inline, .radio-inline{
          padding:0 5px;
          margin-top:5px;

          &.selected{
            color:@corporateBlue;
            position: relative;

            &:after{
              content:'';
              position: absolute;
              width:100%;
              height:5px;
              background-color: @corporateBlue;
              left:0;
              bottom:-8px;
            }
          }
        }
      }
    }
  }


}