.promotionalBannerWrapper{
  height:150px;
  overflow: hidden;

  .promotionalBanner{
    background:transparent url('../images/banner.jpg') no-repeat right top;
    background-size:cover;
    height:150px;
    padding:20px 0 0 0;

    .promotionalContentWrapper{
      max-width:50%;

      .promotionalContent{
        border-left:10px solid @corporatePurple;
        padding:12px 0 6px 15px;
        color:@corporateBlue;
        position: relative;

        h3,p{
          position: relative;
          z-index: 2;
        }

        h3{
          font-size:30px;
          margin-bottom:3px;
        }
        p{
          font-size:18px;
        }

        &:before{
          content:' ';
          background:#F7F7F7;
          position: absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
}
