@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ywao18');
  src:  url('fonts/icomoon.eot?ywao18#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ywao18') format('truetype'),
    url('fonts/icomoon.woff?ywao18') format('woff'),
    url('fonts/icomoon.svg?ywao18#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e905";
}
.icon-uae:before {
  content: "\e907";
}
.icon-badge:before {
  content: "\e900";
}
.icon-heavy_use:before {
  content: "\e901";
}
.icon-international:before {
  content: "\e902";
}
.icon-light_use:before {
  content: "\e903";
}
.icon-medium_use:before {
  content: "\e904";
}

